@model IEnumerable<Day3.Models.Product>

@{
    ViewData["Title"] = "Index";
}
<section>
    <h2>Shop</h2>
    <table class="table">

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="./images/@item.Image" style="width:150px;" alt="@item.Image" />
                        <div>$<span id="@item.ID-itemPrice">@Html.DisplayFor(modelItem => item.Price)</span><span>@Html.DisplayFor(modelItem => item.Currency)</span></div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>

                    <td>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <button type="button" id="@item.ID-add-sm" onclick="updateShoppingCart(event)" class="btn add-cart">Add to Cart</button>
                            <button type="button" id="@item.ID-remove-sm" onclick="updateShoppingCart(event)" class="btn remove-cart">Remove from cart</button>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Qty</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span id="@item.ID-quantity-lg" class="quantity-lg">0</span></td>
                                        <td>$<span id="@item.ID-amount-lg" class="amount-lg">0</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>


    @if (User.Identity.IsAuthenticated)
    {
        <div id="paypal-button"></div>

        <table class="table">
            <thead>
                <tr>
                    <th>Total Items</th>
                    <th>Total Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><span id="totalItems">0</span></td>
                    <td>$<span id="totalAmount">0</span><span id="currency">CAD</span></td>
                </tr>
            </tbody>
        </table>
    }
    else
    {
        <button type="button" class="btn"><a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login to Add</a></button>
    }



</section>


@* Handling Shopping Cart *@

<script>
    function updateShoppingCart(event) {
        var clickedId = event.target.id;
        var elementIdSplit = clickedId.split('-');
        var id = elementIdSplit[0];
        var action = elementIdSplit[1];
        var buttonType = elementIdSplit[2];

        ChangeCart(id, action, buttonType);
    }

    function ChangeCart(clickedId, action, buttonType) {
        var itemPriceId = "#" + clickedId + "-itemPrice";
        var cartQtyLgId = "#" + clickedId + "-quantity-lg";
        var cartQtySmId = "#" + clickedId + "-quantity-sm";
        var cartAmtLgId = "#" + clickedId + "-amount-lg";
        var cartAmtSmId = "#" + clickedId + "-amount-sm";

        var quantity = $(cartQtyLgId).html();

        if (action == "add") {
            quantity++;
        } else {
            quantity--;
            if (quantity < 0) {
                quantity = 0;
            }
        }

        $(cartQtyLgId).text(quantity);
        $(cartQtySmId).text(quantity);

        //Calculate new amount
        var amount = $(itemPriceId).html();

        var newAmount = (amount * quantity).toFixed(2);

        $(cartAmtLgId).text(newAmount);
        $(cartAmtSmId).text(newAmount);

        var totalItemsId = "#totalItems";
        var totalAmountId = "#totalAmount";

        //Calculate totals
        var totalQuantity = 0;
        $('.quantity-lg').each(function () {
            var thisQuantity = $(this).html();
            totalQuantity += parseInt(thisQuantity);
        });
        var totalAmount = 0.00;
        $('.amount-lg').each(function () {
            var thisAmount = $(this).html();
            totalAmount += parseFloat(thisAmount);
        });

        $("#totalItems").text(totalQuantity);
        $("#totalAmount").text(totalAmount.toFixed(2));
    }
</script>

@* PayPal Button *@


<script src="https://www.paypalobjects.com/api/checkout.js"></script>
<script>
    paypal.Button.render({
        env: 'sandbox',
        style: {
            size: 'small',
            color: 'gold',
            shape: 'pill',
            label: 'checkout'
        },
        client: {
            sandbox: 'AWGbGCMHT82eXkmtanlT82BRsHVpG6KOau-fi0MOqPLWgelsCLz5F2Y1v4xCqmgejpjqaPfEgwZNAbiq', // Client ID
        },

        commit: true, // Show a 'Pay Now' button
        payment: function (data, actions) {
            return actions.payment.create({
                payment: {
                    transactions: [{
                        custom: 'Custom data goes here!',
                        amount: {
                            total: document.getElementById("totalAmount").innerHTML,
                            currency: document.getElementById("currency").innerHTML
                        }
                    }]
                }
            });
        },
        onAuthorize: function (data, actions) {
            return actions.payment.execute().then(function (payment) {
                console.log("This is what comes back from Paypal: ")
                console.log(payment);
                alert("This JSON is from Paypal: " + JSON.stringify(payment));
                console.log("-------------------------------------")
                var dataObject = {
                    "cart": payment.cart,
                    "intent": payment.intent,
                    "paymentID": payment.id,
                    "create_time": payment.create_time,
                    "paymentState": payment.state,
                    "payerEmail": payment.payer.payer_info.email,
                    "payerID": payment.payer.payer_info.payer_id,
                    "payerFirstName": payment.payer.payer_info.first_name,
                    "payerLastName": payment.payer.payer_info.last_name,
                    "payerMiddleName": payment.payer.payer_info.middle_name,
                    "payerCountryCode": payment.payer.payer_info.country_code,
                    "paymentMethod": payment.payer.payment_method,
                    "payerStatus": payment.payer.status,
                    "amount": payment.transactions[0].amount.total,
                    "currency": payment.transactions[0].amount.currency,
                    "custom": payment.transactions[0].custom
                }

                // The payment is complete!
                $.ajax({
                    type: "post",
                    url: "/Home/PaySuccess",
                    data: JSON.stringify(dataObject),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",

                    //after success
                    success: function (msg) {
                        console.log("Data: " + JSON.stringify(data));
                        window.location.href
                            = "/Home/Confirmation?ConfirmationId=" + data.paymentID;
                    },
                    //after fail
                    error: function (msg) {
                        alert("fail: " + JSON.stringify(msg));
                    }
                });
            })
        },
        onCancel: function (data, actions) {
        },
    }, '#paypal-button');
</script>
